.content {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  bottom: 0;
  height: 3em;
  .btn {
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    &.alzato {
      transform: translateY(-601px);
      border: none;
      background-color: white;
    }
  }
}

p {
  text-decoration: none;
}

.icon {
  display: flex;
  i {
    margin-left: 1em;
  }
}
