.content {
  display: flex;
  flex-direction: row-reverse;
}

.dropup {
  width: 20em;
}

.dropdown-menu {
  width: 20em;
}

p {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  i {
    margin-left: 1em;
  }
}
