.content {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  bottom: 0;
  height: 3em;
}

.dropup {
  width: 20em;
  background-color: white;
}

.dropdown-menu {
  width: 20em;
}

p {
  text-decoration: none;
}

.btn {
  background-color: rgb(233, 233, 233);
}

.icon {
  display: flex;
  i {
    margin-left: 1em;
  }
}
