<!-- consigliato per te -->
<div class="bg-body-secondary">
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <h2 class="fs-4">Consigliato per te</h2>
      <p class="text-secondary">
        <i class="bi bi-eye-fill me-1"></i>Solo per te
      </p>
      <div>
        <h4 class="fs-5">Intermedio</h4>
        <input type="range" class="styled-slides slider-progress " />
        <div class="display-flex">
    <!-- <progress max="100" value="85.71428571428571" class="rounded-5" aria-valuetext="Valore attuale: 6" aria-valuemin="0" aria-valuenow="6" aria-valuemax="7">
      Valore attuale: 6
    </progress> -->

          <span>
            6/7
          </span>
        </div>
        <p>
          Completa 1 passaggio per raggiungere il livello
          <a class="text-decoration-none text-primary" href="#">Massimo</a>
        </p>
      </div>
      <div>
        <div class="card bg-white text-black border-secondary">
          <div class="card-body">
            <div class="d-flex align-items-baseline">
              <span> <i class="bi bi-bag me-2"></i></span>
              <h4 class="card-title fs-6">Dove lavori attualmente?</h4>
            </div>
            <p class="card-text">
              Gli utenti che includono almeno una posizione lavorativa ricevono
              fino a 3,5 volte più visualizzazioni del profilo.
            </p>
            <a href="#" class="btn btn-light border-secondary rounded-5"
              >Aggiungi posizione</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- analisi -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <h2 class="fs-4">Analisi</h2>
      <p class="text-secondary">
        <i class="bi bi-eye-fill me-1"></i>Solo per te
      </p>
      <div>
        <ul class="list-unstyled d-flex flex-wrap">
          <li class="d-flex align-items-baseline pe-5">
            <div>
              <i
                aria-hidden="true"
                type="people"
                class="ivm-view-attr__icon--icon"
                size="large"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M12 16v6H3v-6a3 3 0 013-3h3a3 3 0 013 3zm5.5-3A3.5 3.5 0 1014 9.5a3.5 3.5 0 003.5 3.5zm1 2h-2a2.5 2.5 0 00-2.5 2.5V22h7v-4.5a2.5 2.5 0 00-2.5-2.5zM7.5 2A4.5 4.5 0 1012 6.5 4.49 4.49 0 007.5 2z"
                  ></path></svg></i>
            </div>
            <div class="d-flex flex-column">
              <a href="#" class="text-decoration-none text-black"
                ><h5 class="fs-6">7 visualizzazioni del profilo</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p>Scopri chi ha visitato il tuo profilo</p>
                </div>
              </a>
            </div>
          </li>
          <li class="d-flex align-items-baseline pe-5">
            <div class="d-flex">
              <i class="bi bi-search me-2 fs-4"></i>
            </div>
            <div class="d-flex flex-column">
              <a href="#" class="text-decoration-none text-black"
                ><h5 class="fs-6">3 comparse nei motori di ricerca</h5>

                <div class="d-flex flex-row justify-content-between">
                  <p>Vedi quante volte compari nei risultati di ricerca.</p>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- risorse -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <h2 class="fs-4">Risorse</h2>
      <p class="text-secondary">
        <i class="bi bi-eye-fill me-1"></i>Solo per te
      </p>
      <div>
        <ul class="list-unstyled d-flex flex-wrap">
          <li class="d-flex align-items-baseline pe-5">
            <div>
              <i
                aria-hidden="true"
                type="radar-dish"
                class="ivm-view-attr__icon--icon"
                size="large">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match me-2"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M21 12h-1a9 9 0 00-9-9V2a10 10 0 0110 10zM11 5v1a6 6 0 016 6h1a7 7 0 00-7-7zm3 7h1a4 4 0 00-4-4v1a3 3 0 013 3zm-2 0a1 1 0 00-1.82-.54L5.32 6.6a8 8 0 00-.24 8.4 2.33 2.33 0 014.16.68l.88 3.08A8.57 8.57 0 0012 19a8 8 0 004.4-1.32l-4.86-4.86A1 1 0 0012 12zm-5 3a1.32 1.32 0 00-1.27 1L4 22h6l-1.73-6A1.32 1.32 0 007 15z"
                  ></path></svg></i>
            </div>
            <div class="d-flex">
              <a href="#" class="text-decoration-none text-black"
                ><h5 class="fs-6">Modalità creazione di contenuti</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p>
                    Fatti scoprire, metti in risalto i contenuti sul tuo profilo
                    e accedi agli strumenti di creazione
                  </p>
                </div>
                <hr class="mt-0" />
              </a>
            </div>
          </li>
          <li class="d-flex align-items-baseline pe-5">
            <div class="d-flex">
              <i
                aria-hidden="true"
                type="people"
                class="ivm-view-attr__icon--icon me-2"
                size="large"><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M12 16v6H3v-6a3 3 0 013-3h3a3 3 0 013 3zm5.5-3A3.5 3.5 0 1014 9.5a3.5 3.5 0 003.5 3.5zm1 2h-2a2.5 2.5 0 00-2.5 2.5V22h7v-4.5a2.5 2.5 0 00-2.5-2.5zM7.5 2A4.5 4.5 0 1012 6.5 4.49 4.49 0 007.5 2z"
                  ></path></svg></i>
            </div>
            <div class="d-flex flex-column">
              <a href="#" class="text-decoration-none text-black"
                ><h5 class="fs-6">La mia rete</h5>

                <div class="d-flex flex-row justify-content-between">
                  <p>Salva e gestisci i tuoi collegamenti e interessi.</p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button
          class="btn btn-light d-flex justify-content-center w-100 fw-bold border-0 border-top rounded-0 text-secondary"
        >
          Mostra tutte le risorse <i class="bi bi-arrow-right ms-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- informazioni -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="fs-4">Informazioni</h2>
        <a href="" class="btn btn-light rounded-pill p-3"
          ><i
            type="edit"
            size="medium"
            role="img"
            aria-label="Modifica informazioni"><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              data-supported-dps="24x24"
              fill="currentColor"
              class="mercado-match"
              width="24"
              height="24"
              focusable="false"
            >
              <path
                d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
              ></path></svg></i>
        </a>
      </div>
      <div class="mt-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
          eaque cumque saepe officia accusantium, quia expedita repellendus
          facilis similique voluptas quasi impedit sapiente autem atque corrupti
          culpa aspernatur iusto ut.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- attività -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Attività</h2>
          <a href="#" class="text-primary text-decoration-none">70 follower</a>
        </div>
        <div>
          <a href="" class="btn btn-outline-primary rounded-5 fw-bold me-2"
            >Crea un post
          </a>
          <a href="" class="btn btn-light rounded-pill p-3"
            ><i
              type="edit"
              size="medium"
              role="img"
              aria-label="Modifica informazioni" ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                ></path></svg></i>
          </a>
        </div>
      </div>
      <div class="mt-2 d-flex flex-column">
        <p class="fw-bold mb-0">Non hai ancora pubblicato nulla</p>
        <p>I post che condividi appariranno qui</p>
      </div>
      <button
      class="btn btn-light d-flex justify-content-center w-100 fw-bold border-0 border-top rounded-0 text-secondary"
    >
      Mostra tutte le attività <i class="bi bi-arrow-right ms-1"></i>
    </button>
    </div>
  </div>
</div>
<!-- esperienza -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Esperienza</h2>
        </div>
        <div>
          <a href="" class="btn btn-light rounded-pill me-2">
            <i class="bi bi-plus-lg fs-2"></i>
          </a>
          <a href="" class="btn btn-light rounded-pill p-3"
            ><i
              type="edit"
              size="medium"
              role="img"
              aria-label="Modifica informazioni" ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                ></path></svg></i>
          </a>
        </div>
      </div>
      <div class="d-flex">
        <img width="48" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="48" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-2">
      <div class="d-flex flex-column ">
        <h5 class="fs-6 mb-0">Corso formativo</h5>
        <p class="mb-0">Epicode</p>
        <p class="text-secondary mb-0">mar 2023 - in corso </p>
        <p class="my-2">Corso full-stack</p>
        <p class="my-2 fw-bold">Competenze: <span class="fw-normal">Html · css · javascript · angular</span></p>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- formazione -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Formazione</h2>
        </div>
        <div>
          <a href="" class="btn btn-light rounded-pill me-2">
            <i class="bi bi-plus-lg fs-2"></i>
          </a>
          <a href="" class="btn btn-light rounded-pill p-3"
            ><i
              type="edit"
              size="medium"
              role="img"
              aria-label="Modifica informazioni" ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                ></path></svg></i>
          </a>
        </div>
      </div>
      <div class="d-flex">
        <img width="48" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="48" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-2">
      <div class="d-flex flex-column ">
        <h5 class="fs-6 mb-0">Corso formativo</h5>
        <p class="mb-0">Epicode</p>
        <p class="text-secondary mb-0">mar 2023 - in corso </p>
        <p class="my-2">Corso full-stack</p>
        <p class="my-2 fw-bold">Competenze: <span class="fw-normal">Html · css · javascript · angular</span></p>
      </div>
      </div>
      <button
      class="btn btn-light d-flex justify-content-center w-100 fw-bold border-0 border-top rounded-0 text-secondary"
    >
      Mostra tutti i titoli di studio <i class="bi bi-arrow-right ms-1"></i>
    </button>
    </div>
  </div>
</div>
<!-- competenze -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Competenze</h2>
        </div>
        <div>
          <a href="" class="btn btn-light rounded-pill me-2">
            <i class="bi bi-plus-lg fs-2"></i>
          </a>
          <a href="" class="btn btn-light rounded-pill p-3"
            ><i
              type="edit"
              size="medium"
              role="img"
              aria-label="Modifica informazioni" ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                ></path></svg></i>
          </a>
        </div>
      </div>
      <div class="d-flex flex-column border-0 border-bottom border-secondary my-3">
        <div>
        <h5 class="fs-6">Html</h5>
      </div>
      <div class="d-flex">
        <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="24" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-2">
        <p>Epicode</p>
      </div>
      </div>
      <div class="d-flex flex-column border-0 border-bottom border-secondary my-3">
        <div>
        <h5 class="fs-6">Css</h5>
      </div>
      <div class="d-flex">
        <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="24" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-2">
        <p>Epicode</p>
      </div>
      </div>
      <div class="d-flex flex-column border-0 border-bottom border-secondary my-3">
        <div>
        <h5 class="fs-6">JavaScript</h5>
      </div>
      <div class="d-flex">
        <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="24" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-2">
        <p>Epicode</p>
      </div>
      </div>
      <div class="d-flex flex-column border-0  mt-3">
        <div>
        <h5 class="fs-6">Angular</h5>
      </div>
      <div class="d-flex">
        <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQHYgix-Ynux1A/company-logo_100_100/0/1646830188434?e=1700697600&v=beta&t=z9BNcnl0FarYAg-i8zbpPKZXfr036nQh_kmNDfMRJtc" loading="lazy" height="24" alt="Logo Epicode" id="ember2259" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-3">
        <p>Epicode</p>
      </div>
      </div>
      <button
      class="btn btn-light d-flex justify-content-center w-100 fw-bold border-0 border-top rounded-0 text-secondary"
    >
      Mostra tutte le competenze <i class="bi bi-arrow-right ms-1"></i>
    </button>
    </div>
  </div>
</div>
<!-- lingue -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Lingue</h2>
        </div>
        <div>
          <a href="" class="btn btn-light rounded-pill me-2">
            <i class="bi bi-plus-lg fs-2"></i>
          </a>
          <a href="" class="btn btn-light rounded-pill p-3"
            ><i
              type="edit"
              size="medium"
              role="img"
              aria-label="Modifica informazioni" ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                ></path></svg></i>
          </a>
        </div>
      </div>
    <h5 class="fs-6">Inglese</h5>
    <p class="m-0 text-secondary">Conoscenza lavorativa</p>
    </div>
  </div>
</div>

<!-- interessi -->
<div class="container mb-1">
  <div class="row">
    <div class="px-3 col bg-white text-black rounded-4 py-3 ">
      <div class="d-flex justify-content-between align-items-baseline">
        <div>
          <h2 class="fs-4">Interessi</h2>
          <button class="btn rounded-0 border-0 border-success border-bottom text-success">Aziende</button>
          <button class="btn rounded-0 border-0  text-black">Gruppi</button>
          <button class="btn rounded-0 border-0  text-black">Scuole o università</button>
        </div>
      </div>

        <div class="d-flex mt-3 justify-content-between">

          <div class="d-flex">
          <img width="48" src="https://media.licdn.com/dms/image/C4E0BAQFseuCCBupBOQ/company-logo_100_100/0/1651058101845?e=1700697600&amp;v=beta&amp;t=8VI7U5hB5LABpqQlcxx-3SvU4uUWXx8yi2cuCdY9xls" loading="lazy" height="48" alt="Logo di GitLab" id="ember3128" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
          <div class="d-flex flex-column">
          <a href="#" class="text-decoration-none text-black"><h5 class="fs-6 m-0">GitLab</h5></a>
          <p class="text-secondary m-0">874.000 follower</p>
          <button class="btn btn-light btn-outline-light rounded-5 fw-bold d-flex align-self-center px-4"><i aria-hidden="true" type="check" class="artdeco-button__icon d-flex align-self-center" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
            <path d="M12.57 2H15L6 15l-5-5 1.41-1.41 3.31 3.3z"></path>
          </svg></i>Gia segui</button>
         </div>
          </div>
          <div class="d-flex">
            <img width="48" src="https://media.licdn.com/dms/image/C560BAQFmuLSyL1nlPA/company-logo_100_100/0/1678231358774?e=1700697600&amp;v=beta&amp;t=1BKp2deOSWcgf1JbxfRaq5qEcHon4WfKQnC6ujQjXNg" loading="lazy" height="48" alt="Logo di GitHub" id="ember3130" class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view me-3">          <div class="d-flex flex-column">
          <a href="#" class="text-decoration-none text-black"><h5 class="fs-6 m-0">GitHub</h5></a>
          <p class="text-secondary m-0">3.486.935 follower</p>
          <button class="btn btn-light btn-outline-light rounded-5 fw-bold d-flex align-self-center px-4"><i aria-hidden="true" type="check" class="artdeco-button__icon d-flex align-self-center" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
            <path d="M12.57 2H15L6 15l-5-5 1.41-1.41 3.31 3.3z"></path>
          </svg></i>Gia segui</button>
         </div>
          </div>
        </div>
        <button
        class="btn btn-light d-flex justify-content-center w-100 fw-bold border-0 border-top rounded-0 text-secondary"
      >
        Mostra tutte le aziende <i class="bi bi-arrow-right ms-1"></i>
      </button>
        </div>
      </div>
    </div>
  </div>


