<div class="bg-white py-2 rounded-4 container">
  <div class="div-post">
    <a class="ms-3">
      <img
        class="img-profilo"
        *ngIf="mineProfile"
        src="{{ mineProfile.image || '' }}"
        alt=""
    /></a>
    <button data-bs-toggle="modal" data-bs-target="#postModal">
      <span>Avvia un post</span>
    </button>
  </div>
  <div class="icons-cont">
    <button class="ms-4">
      <i class="bi bi-image text-primary"></i><span>Foto</span>
    </button>
    <button>
      <i class="bi bi-play-btn-fill text-success"></i><span>Video</span>
    </button>
    <button>
      <i class="bi bi-calendar2-week-fill text-warning"></i><span>Evento</span>
    </button>
    <button>
      <i class="bi bi-layout-text-window-reverse text-danger"></i
      ><span>Scrivi un articolo</span>
    </button>
  </div>
</div>

<!--Modale-->
<div class="modal" tabindex="-1" id="postModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-bs-toggle="modal" data-bs-target="#modalSetting">
          <img
            *ngIf="mineProfile"
            src="{{ mineProfile.image || '' }}"
            class="img-profilo"
          />{{ mineProfile.username }}
          <i class="bi bi-caret-down-fill"></i>
        </button>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Di cosa vorresti parlare?"
          (input)="onInput($event)"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary text-black"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary text-black"
          (click)="addPost(newPost)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!--secondo modale-->
<div class="modal" tabindex="-1" id="modalSetting">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Impostazioni del post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h6>Chi può vedere il tuo post?</h6>
        <span>Chiunque</span> <input type="radio" /> <br />
        <span>Solo collegamenti</span> <input type="radio" />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#postModal"
        >
          Close
        </button>
        <button type="button" class="btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
