* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #5f5f5f;
}
.logo{
  width: 30px;
  margin: 15px;
  display: block;
}
i {
  font-size: 1.4em;
  margin: 2px;
  color: #5f5f5f;
  cursor: pointer;
}
p{
  font-size: 1em;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow:  0 5px 10px rgba(0,0,0, 0.1);
}
.navbar-left a{
  cursor: pointer;
}
.navbar-center ul li{
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
.navbar-center ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}

.profile-logo{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.search-box{
  background-color: #f0f2f5;
  width: 260px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 15px;

}
.search-box2{
  background-color: #f0f2f5;
  width: 260px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 15px;
}
.navbar-left{
  display: flex;
  align-self: center;
  justify-content: center;
}
.search-box input{
  width: 100%;
  background:transparent;
  padding: 4px;
  outline: none;
  border: none;
}
.search-box2 input{
  width: 100%;
  background:transparent;
  padding: 4px;
  outline: none;
  border: none;
}
.navbar-right{
  cursor: pointer;
  color: #5f5f5f;
}
p i {
  font-size: 0.8em;
  margin: 0;
}
/* dropdwon*/
.profile-menu-wrap{
  position: absolute;
  top: 100%;
  right: 15%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;

}

.profile-menu-wrap.open-menu{
  max-height: 400px;
  color: #5f5f5f;
}
.profile-menu{
  background: #fff;
  color: #222;
  padding: 20px;
  margin: 10px;
  border-radius: 10px 0px 10px 10px;
  box-shadow:  0 5px 10px rgba(0,0,0, 0.1);
  width: 237px;
}
.user-info{
  display: flex;
}
.user-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.button-p{
  display: block;
  text-align: center;
  font-size: medium !important;
  background: transparent;
  border-color: #045be6;
  border-radius: 16px 16px 16px;
  border-style: solid;
  padding: 1.5px;
  color: #045be6 !important;
  margin: 10px;
  width: 100%;
}
.navbar-over{
  display: flex;
    flex-direction: column;
    align-items: center;
  border-left: solid 1px #5f5f5f;
  height: 100%;
  color: #5f5f5f;
  cursor: pointer;
}
.navbar-over p{
  margin-left: 10px;
}
.profile-menu a{
  color: #5f5f5f;
  font-size: 0.8em ;
  margin-top: 5px;
  cursor: pointer;
  :hover{
    text-decoration: underline;
  }
}
hr{
  margin: 5px 0 5px 0;
}
/*offcanvas*/
.card{
  max-width: 20rem;
  margin: auto;
  margin-top: 3em;
}
.card ul{
  list-style: none;
  margin: 10px;
}
.card h3{
  font-size: 1.2em;
  margin: 8px;

}
.card a{
  cursor: pointer;
}
.icon-s{
  text-align: center;
}
.icons-list{
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
}
.icons-list {
  align-items: center;
}

.icons-list span{
  display: inline-block;
  height: 25px;
  width: 86px;
  text-align: center;
  font-size: 0.8em;

}
/*resp*/
@media screen and (max-width:1200px) {
  .navbar-center a p{
    display: none;
  }
  .navbar-center i{
    font-size: 1.8em;
  }
  .dropdown span{
    display: none;
  }
}
@media screen and (max-width: 1000px){
  nav{
    padding: 0;
    justify-content: space-evenly;
  }
  .navbar-over{
    display: none;
  }
  .navbar-center a p{
    display: none;
  }
  .dropdown{
    display: none;
  }
  .search-box {
    display: none;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-center ul li{
    margin: 0;
  }
}
@media  screen and (min-width:769px) {
  .search-box{
    display: flex;
  }
}

