<div class="d-flex flex-column flex-md-row justify-content-between">
  <div>
    <input
      type="text"
      class="rounded-5 me-2"
      [(ngModel)]="newCommento.comment"
      placeholder="Aggiungi un commento..."
    />
    <button
      type="button"
      class="btn btn-primary rounded-5"
      (click)="postComment(id)"
    >
      Pubblica
    </button>
  </div>
  <a (click)="getCommenti(id)">Vedi commenti</a>
</div>

<div
  id="commenti"
  class="d-flex justify-content-between rounded-4 border"
  *ngFor="let item of comment"
>
  <div>
    <!-- <p>{{newItem.username}}</p> -->
    <p class="m-2">{{item.comment}}</p>
  </div>
  <!-- dropdown elimina/modifica -->
  <div class="dropdown">
    <a
      id="commenti"
      class="btn dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <button
        id="commenti"
        _ngcontent-ng-c1052230211=""
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        class="btn btn-light text-decoration-none text-secondary"
      >
        <svg
          _ngcontent-ng-c1052230211=""
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          data-supported-dps="24x24"
          fill="currentColor"
          width="24"
          height="24"
          focusable="false"
          class="mercado-match"
        >
          <path
            _ngcontent-ng-c1052230211=""
            d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"
          ></path>
        </svg>
      </button>
    </a>
    <ul class="dropdown-menu">
      <li>
        <!-- <a class="dropdown-item" href="#"
          ></a
        > -->
        <!-- Button trigger modal -->
        <a
          type="button"
          class="btn"
          id="commenti"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Modifica
        </a>

        <!-- Modal -->
      </li>
      <li>
        <a class="dropdown-item" href="#" (click)="deleteCommenti(item._id)"
          >Elimina</a
        >
      </li>
      <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
      <!-- </li> -->
    </ul>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Modal title
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input
            type="text"
            class="rounded-5 me-2"
            [(ngModel)]="newCommento.comment"
            placeholder="Aggiungi un commento..."
          />
          <button
            type="button"
            class="btn btn-primary rounded-5"
            (click)="putCommenti(item._id)"
          >
            modifica
          </button>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
<!-- *ngIf=" newToggle" -->
<!--  -->
