<div class="container">
<div class="d-flex">
  <div class="container1">
    <a href="">Informazioni</a>
    <a href="">Accessibilità</a>
    <a href="">Talent Solution</a>
    <a href="">Linee guida della community</a>
    <a href="">Carriera</a>
    <a href="">Soluzioni di marketing</a>
    <a href="">Privacy e condizioni</a>
    <a href="">Opzioni per gli annunci pubblicitari</a>
    <a href="">Pubblicità</a>
    <a href="">Sales Solutions</a>
    <a href="">Mobile</a>
    <a href="">Piccole imprese</a>
    <a href="">Centro sicurezza</a>
  </div>
  <div class="container2">
    <div class="container3">
      <div class="d-flex">
        <i class="fas fa-question-circle"
          ><a href="">Domande?</a><br />
          <span>Visita il nostro centro assistenza </span></i
        >
      </div>
      <div class="d-flex">
        <i class="fas fa-cog"
          ><a href="">Gestisci il tuo account e la tua privacy</a><br />
          <span>Vai alle impostazioni</span></i
        >
      </div>
      <div class="d-flex">
        <i class="fas fa-shield-alt"
          ><a href="">Trasparenza sui contenuti consigliati</a><br />
          <span>Scopri di più sui contenuti consigliati.</span></i
        >
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Italiano (Italiano)
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Tedesco (Tedesco)</a></li>
          <li><a class="dropdown-item" href="#">Spagnolo (Spagnolo)</a></li>
          <li><a class="dropdown-item" href="#">Inglese (Inglese)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
