<div class="d-flex flex-column gap-2 align-items-center pb-5 bg-linkedin">
  <!--------------------[Card Profilo lingua e URL]----------------------->
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <!-- left -->
        <div>
          <h4 class="card-title">Lingua del profilo</h4>
          <h6 class="card-subtitle mb-2 text-secondary">Italiano</h6>
        </div>
        <!-- right -->
        <div class="pb-4">
          <i
          type="edit"
          size="medium"
          role="img"
          aria-label="Modifica informazioni"><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            data-supported-dps="24x24"
            fill="currentColor"
            class="mercado-match"
            width="24"
            height="24"
            focusable="false"
          >
            <path
              d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
            ></path></svg></i>
        </div>
      </div>

      <hr />

      <div class="d-flex justify-content-between align-items-center">
        <!-- left -->
        <div>
          <h4 class="card-title">Public profile & URL</h4>
          <h6 class="card-subtitle mb-2 text-secondary">
            <!-- {{mineProfile.email}} -->
          </h6>
        </div>
        <!-- right -->
        <div class="pb-4">
          <i
          type="edit"
          size="medium"
          role="img"
          aria-label="Modifica informazioni"><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            data-supported-dps="24x24"
            fill="currentColor"
            class="mercado-match"
            width="24"
            height="24"
            focusable="false"
          >
            <path
              d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
            ></path></svg></i>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------->

  <!--------------------[Card Persone che potresti conoscere]----------------------->
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">
        Persone che potresti conoscere
      </h5>

      <!-- Lista persone -->

      <!-- ------- Profili presi random  A---------->
      <div *ngFor="let profile of sideProfileA; index as i">
        <div class="d-flex justify-content-start gap-4">
          <img
            class="w-25 h-25 img-thumbnail rounded-circle"
            src="{{ profile.image }}"
            alt=""
          />

          <div>
            <h5>
              <a

                routerLink="/profilo/{{profile._id}}"
                class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                >{{ profile.name }} {{ profile.surname }}</a
              >
            </h5>

            <p class="fs-6 m-0 mb-2">
              <a
                href="#"
                class="text-black link-underline link-underline-opacity-0"
                >{{ profile.title }}
                <span *ngIf="!profile.title">No Title</span></a
              >
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <i class="bi bi-person-plus-fill"></i>
            <span class="fw-semibold">Collegati</span>
          </button>
        </div>

        <hr *ngIf="!(i == 4)" class="my-4" />
        <div *ngIf="i == 4"></div>
      </div>

      <hr *ngIf="profileB == true" class="my-4" />

      <!-- Profili presi random  B-->
      <div *ngIf="profileB == true">
        <div *ngFor="let profile of sideProfileB; index as i">
          <div class="d-flex justify-content-start gap-4">
            <img
              class="w-25 h-25 img-thumbnail rounded-circle"
              src="{{ profile.image }}"
              alt=""
            />

            <div>
              <h5>
                <a
                routerLink="/profilo/{{profile._id}}"
                  class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                  >{{ profile.name }} {{ profile.surname }}</a
                >
              </h5>

              <p class="fs-6 m-0 mb-2">
                <a
                  href="#"
                  class="text-black link-underline link-underline-opacity-0"
                  >{{ profile.title }}
                  <span *ngIf="!profile.title">No Title</span></a
                >
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button
              class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
            >
              <i class="bi bi-person-plus-fill"></i>
              <span class="fw-semibold">Collegati</span>
            </button>
          </div>

          <hr *ngIf="!(i == 4)" class="my-4" />
          <div *ngIf="i == 4"></div>
        </div>
      </div>
    </div>
    <div *ngIf="profileB == false">
      <!-- <hr class="mb-0"/> -->
      <!-- Visualizza altro -->

      <button
        class="btn-visualizza-altro d-flex justify-content-center align-items-center p-3 w-100"
        (click)="toggleProfileB()"
      >
        <span class="me-1"> Visualizza altro </span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          data-supported-dps="16x16"
          fill="currentColor"
          class="mercado-match"
          width="16"
          height="16"
          focusable="false"
        >
          <path d="M1 5l7 4.61L15 5v2.39L8 12 1 7.39z"></path>
        </svg>
      </button>
    </div>

    <div *ngIf="profileB == true">
      <!-- <hr class="mb-0"/> -->
      <!--Meno dettagli -->

      <button
        class="btn-visualizza-altro d-flex justify-content-center align-items-center p-3 w-100"
        (click)="toggleProfileB()"
      >
        <span class="me-1"> Meno dettagli </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          data-supported-dps="16x16"
          fill="currentColor"
          class="mercado-match"
          width="16"
          height="16"
          focusable="false"
        >
          <path d="M15 11L8 6.39 1 11V8.61L8 4l7 4.61z"></path>
        </svg>
      </button>
    </div>
  </div>
  <!------------------------------------------------------------------->

  <!--------------------[Potrebbe interessarti]----------------------->
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Potrebbe interessarti</h5>

      <!-- 1 -->
      <div>
        <div class="d-flex justify-content-start gap-4">
          <img
            class="w-25 h-25"
            src="https://scontent-fra5-1.xx.fbcdn.net/v/t39.30808-6/275655629_385209730081008_6039091939439476533_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=GT690pBFbF8AX-eLjSq&_nc_ht=scontent-fra5-1.xx&oh=00_AfD4IB3s5CwQZVActup47Ae5lf71hNw14MSM63UVsO8_3A&oe=64E90A11"
            alt="profile-image"
          />

          <div>
            <h5>
              <a
                href="#"
                class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                >Epicode</a
              >
            </h5>

            <p class="fs-6 m-0 mb-2">
              <a
                href="#"
                class="text-black link-underline link-underline-opacity-0"
                >Scuola Web Developer</a
              >
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              data-supported-dps="16x16"
              fill="currentColor"
              class="mercado-match"
              width="16"
              height="16"
              focusable="false"
            >
              <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z"></path>
            </svg>
            <span class="fw-semibold">Segui</span>
          </button>
        </div>

        <hr class="my-4" />
      </div>

      <!-- 2 -->
      <div>
        <div class="d-flex justify-content-start gap-4">
          <img
            class="w-25 h-25"
            src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png"
            alt="profile-image"
          />

          <div>
            <h5>
              <a
                href="#"
                class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                >JS</a
              >
            </h5>

            <p class="fs-6 m-0 mb-2">
              <a
                href="#"
                class="text-black link-underline link-underline-opacity-0"
                >programming</a
              >
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              data-supported-dps="16x16"
              fill="currentColor"
              class="mercado-match"
              width="16"
              height="16"
              focusable="false"
            >
              <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z"></path>
            </svg>
            <span class="fw-semibold">Segui</span>
          </button>
        </div>


      </div>
    </div>
  </div>


  <!--------------------[immagine link]----------------------->
  <div class="card imgLink-card" style="width: 18rem">


    <a href="#">
      <img class="img-fluid" src="https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png" alt="see who's hiring">
    </a>

  </div>






</div>
