<div class="container d-flex flex-column gap-2 align-items-center mt-4">
  <!--------------------[Card Profilo lingua e URL]----------------------->
  <div class="card" style="width: 22rem">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <!-- left -->
        <div>
          <h3 class="card-title">Lingua del profilo</h3>
          <h6 class="card-subtitle mb-2 text-secondary">Italiano</h6>
        </div>
        <!-- right -->
        <div class="pb-4">
          <i class="bi bi-pencil fs-4"></i>
        </div>
      </div>

      <hr />

      <div class="d-flex justify-content-between align-items-center">
        <!-- left -->
        <div>
          <h3 class="card-title">Public profile & URL</h3>
          <h6 class="card-subtitle mb-2 text-secondary">
            www.linkedin.com/in/nicolas-mastropietro-172348113
          </h6>
        </div>
        <!-- right -->
        <div class="pb-4">
          <i class="bi bi-pencil fs-4"></i>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------->

  <!--------------------[Card Persone che potresti conoscere]----------------------->
  <div class="card" style="width: 22rem">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">
        Persone che potresti conoscere
      </h5>

      <!-- Lista persone -->

      <!-- 1 -->
      <div class="d-flex justify-content-start align-items-start">
        <a href="#" class="text-secondary">
          <i class="bi bi-person-circle me-3 pb-4 user-img"></i>
        </a>
        <div>
          <h5>
            <a
              href="#"
              class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
              >Mario Rossi</a
            >
          </h5>

          <p class="fs-6 m-0 mb-2">
            <a
              href="#"
              class="text-black link-underline link-underline-opacity-0"
              >Studente presso università di Firenze</a
            >
          </p>

          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <i class="bi bi-person-plus-fill"></i>
            <span class="fw-semibold">Collegati</span>
          </button>
        </div>
      </div>
      <hr class="my-4" />


       <!-- 2 -->
       <div class="d-flex justify-content-start align-items-start">
        <a href="#" class="text-secondary">
          <i class="bi bi-person-circle me-3 pb-4 user-img"></i>
        </a>
        <div>
          <h5>
            <a
              href="#"
              class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
              >Mario Rossi</a
            >
          </h5>

          <p class="fs-6 m-0 mb-2">
            <a
              href="#"
              class="text-black link-underline link-underline-opacity-0"
              >Studente presso università di Firenze</a
            >
          </p>

          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <i class="bi bi-person-plus-fill"></i>
            <span class="fw-semibold">Collegati</span>
          </button>
        </div>
      </div>
      <hr class="my-4" />




        <!-- 3 -->
        <div class="d-flex justify-content-start align-items-start">
          <a href="#" class="text-secondary">
            <i class="bi bi-person-circle me-3 pb-4 user-img"></i>
          </a>
          <div>
            <h5>
              <a
                href="#"
                class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                >Mario Rossi</a
              >
            </h5>

            <p class="fs-6 m-0 mb-2">
              <a
                href="#"
                class="text-black link-underline link-underline-opacity-0"
                >Studente presso università di Firenze</a
              >
            </p>

            <button
              class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
            >
              <i class="bi bi-person-plus-fill"></i>
              <span class="fw-semibold">Collegati</span>
            </button>
          </div>
        </div>
        <hr class="my-4" />



          <!-- 4 -->
      <div class="d-flex justify-content-start align-items-start">
        <a href="#" class="text-secondary">
          <i class="bi bi-person-circle me-3 pb-4 user-img"></i>
        </a>
        <div>
          <h5>
            <a
              href="#"
              class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
              >Mario Rossi</a
            >
          </h5>

          <p class="fs-6 m-0 mb-2">
            <a
              href="#"
              class="text-black link-underline link-underline-opacity-0"
              >Studente presso università di Firenze</a
            >
          </p>

          <button
            class="btn border-1 border-secondary rounded-5 text-secondary fs-6 d-flex align-items-center gap-1 gray-button"
          >
            <i class="bi bi-person-plus-fill"></i>
            <span class="fw-semibold">Collegati</span>
          </button>
        </div>
      </div>
      <hr class="my-4" />


        <!-- 1 -->
        <div class="d-flex justify-content-start align-items-start">
          <a href="#" class="text-secondary">
            <i class="bi bi-person-circle me-3 pb-4 user-img"></i>
          </a>
          <div>
            <h5>
              <a
                href="#"
                class="fw-semibold mb-1 text-black link-underline link-underline-opacity-0 text text-link"
                >Mario Rossi</a
              >
            </h5>

            <p class="fs-6 m-0 mb-2">
              <a
                href="#"
                class="text-black link-underline link-underline-opacity-0"
                >Studente presso università di Firenze</a
              >
            </p>


          </div>
        </div>








    </div>
    <hr class="mb-0"/>
      <!-- Visualizza altro -->

        <button class="btn-visualizza-altro d-flex justify-content-center align-items-center p-3">

          <span class="me-1">
            Visualizza altro
          </span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
            <path d="M1 5l7 4.61L15 5v2.39L8 12 1 7.39z"></path>
          </svg></button>

  </div>


  <!------------------------------------------------------------------->
</div>
