.user-img{

  font-size: 50px !important;

}

.gray-button:hover {

  border: 2px solid black !important;
  background-color: rgb(209, 212, 219) !important;
  margin-top: 1px !important;

}

.text-link:hover {
  color: rgb(45, 100, 188) !important;
  text-decoration: underline rgb(45, 100, 188) !important;
}


.full-hr{
  margin: 30px -15px 15px !important;
  border: 0 !important;
  border-top: 1px solid!important;
}
.btn-visualizza-altro{

  border: 0 !important;
  background-color: white !important;
  font-size: 1.4em !important;
  font-weight: 600 !important;
  color: rgb(107,117,125) !important;
  cursor: pointer !important;


}

.btn-visualizza-altro:hover {
  background-color: rgb(235, 235, 235) !important;
}


