<div class="container mb-1">
  <app-new-post></app-new-post>
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div
        class="spinner-grow text-primary p-5 mt-5"
        role="status"
        *ngIf="!post"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <!-- ----Post---- -->
    <div
      class="px-3 col-12 bg-white text-black rounded-4 py-2 fs-6 mt-2"
      *ngFor="let item of post; index as i"
    >
      <!-- <img src="{{item.image}}" alt="image" class="w-50" *ngIf="item.image"> -->
      <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
          <img class=" rounded-circle me-3" src="{{item.user.image}}" alt="">
          <div>
          <h5 class="m-0 p-0">
            {{ item.user.name }} {{item.user.surname}}
          </h5>
          <div>
            <p class="fs-6 text-secondary mb-0">{{item.user.title}}</p>
          </div>
          <div class="mt-0 pt-0">
            <p class="text-secondary fs-6">{{item.createdAt}} <i aria-hidden="true" type="globe-americas" class="v-align-bottom" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
              <path d="M8 1a7 7 0 107 7 7 7 0 00-7-7zM3 8a5 5 0 011-3l.55.55A1.5 1.5 0 015 6.62v1.07a.75.75 0 00.22.53l.56.56a.75.75 0 00.53.22H7v.69a.75.75 0 00.22.53l.56.56a.75.75 0 01.22.53V13a5 5 0 01-5-5zm6.24 4.83l2-2.46a.75.75 0 00.09-.8l-.58-1.16A.76.76 0 0010 8H7v-.19a.51.51 0 01.28-.45l.38-.19a.74.74 0 01.68 0L9 7.5l.38-.7a1 1 0 00.12-.48v-.85a.78.78 0 01.21-.53l1.07-1.09a5 5 0 01-1.54 9z"></path>
            </svg></i></p>
          </div>
        </div>
        </div>
        <!-- Dropdown per post non dell' utente -->
        <div class="dropdown" (click)="ceckPostUser(item.user._id)">
          <button
            class="btn btn-light text-decoration-none text-secondary"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- icon button -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              data-supported-dps="24x24"
              fill="currentColor"
              class="mercado-match"
              width="24"
              height="24"
              focusable="false"
            >
              <path
                d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"
              ></path>
            </svg>
          </button>

          <!-- Droopdown per post non dell' utente -->
          <ul class="dropdown-menu" *ngIf="isPostAdmin == false">
            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-box-arrow-down me-2"></i>Salva</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-link-45deg me-2"></i>Copia link al post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-code me-2"></i>Incorpora</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-eye-slash me-2"></i>Nascondi o segnala questo
                post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-info-square me-2"></i>Perchè vedi questo
                annuncio?</a
              >
            </li>
          </ul>

          <!-- dropdown per post dell' utente -->
          <ul class="dropdown-menu" *ngIf="isPostAdmin == true">
            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-star me-2"></i>Metti in primo piano nella parte
                superiore del profilo</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-box-arrow-down me-2"></i>Salva</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-link-45deg me-2"></i>Copia link al post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-code me-2"></i>Incorpora questo post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-pen me-2"></i>Modifica post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-trash3 me-2"></i>Elimina post</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#"
                ><i class="bi bi-eye me-2"></i>Chi può vedere questo post?</a
              >
            </li>

            <li class="d-flex align-items-center">
              <a class="dropdown-item fs-5" href="#">
                <i
                  aria-hidden="true"
                  type="comment"
                  class="artdeco-button__icon text-secondary"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    data-supported-dps="20x20"
                    fill="currentColor"
                    class="mercado-match me-2"
                    width="20"
                    height="20"
                    focusable="false"
                  >
                    <path
                      d="M7 9h10v1H7zm0 4h7v-1H7zm16-2a6.78 6.78 0 01-2.84 5.61L12 22v-4H8A7 7 0 018 4h8a7 7 0 017 7zm-2 0a5 5 0 00-5-5H8a5 5 0 000 10h6v2.28L19 15a4.79 4.79 0 002-4z"
                    ></path></svg></i
                >Chi può commentare questo post?</a
              >
            </li>
          </ul>
        </div>
      </div>

      <p>{{ item.text }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a href="#" class="btn btn-light text-decoration-none text-secondary">
            <i class="bi bi-hand-thumbs-up"></i>
            Consiglia</a
          >
        </div>
        <div>
          <a
            href="#"
            class="btn btn-light text-decoration-none text-secondary"
            (click)="toggle=!toggle"
          >
            <i aria-hidden="true" type="comment" class="artdeco-button__icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M7 9h10v1H7zm0 4h7v-1H7zm16-2a6.78 6.78 0 01-2.84 5.61L12 22v-4H8A7 7 0 018 4h8a7 7 0 017 7zm-2 0a5 5 0 00-5-5H8a5 5 0 000 10h6v2.28L19 15a4.79 4.79 0 002-4z"
                ></path></svg></i
            >Commenta</a
          >
        </div>

        <div>
          <a href="#" class="btn btn-light text-decoration-none text-secondary">
            <i class="bi bi-repeat"></i>
            Diffondi il post</a
          >
        </div>
        <div>
          <a href="#" class="btn btn-light text-decoration-none text-secondary">
            <i class="bi bi-send-fill"></i>
            Invia</a
          >
        </div>
        <br />
      </div>
      <app-commenti *ngIf="toggle" [id]="item._id"></app-commenti>
    </div>
    <app-commenti-post
      *ngFor="let singlepost of post"
      [post]="singlepost"
    ></app-commenti-post>
  </div>
</div>
