.img-profilo{
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}
.main{
  border-radius: 10px 10px;
  border-style: solid;
  border-width: thin;
  border-color: #acaaaa;
  background-color: #fff;
  max-width: 225px;
  height: 347px;
}
.sfondo{
  background-image: url('https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/wp-cms/uploads/2021/03/LinkedIn-Default-Background-2020-.jpg');
  width: 223px;
  height: 56px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
